body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
    margin: auto;
    margin-top: 60px;
}

header {
    background-color: rgb(244, 245, 250);
    padding: 20px;
    border: 0.8px solid rgb(221, 221, 221);
    border-radius: 7px 7px 0px 0px;
    width: 990px;
    margin: auto;
}

header > h1 {
    margin: 0px;
    font-size: 18px;
}

section {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-right: 0.8px solid rgb(221, 221, 221);
    border-bottom: 0.8px solid rgb(221, 221, 221);
    border-left: 0.8px solid rgb(221, 221, 221);
    border-radius: 0px 0px 7px 7px;
    width: 990px;
}

article {
    display: flex;
    justify-content: space-between;
}

#text {
    display: inline-block;
    width: 600px;
    height: 170px;
    border: 1px solid rgb(212, 212, 212);
    background-color: white;
    border-radius: 5px;
    font: normal 15px Arial;
    padding: 10px;
    max-lines: 3;
    resize: none;
}

#text:focus {
    outline: 3px solid rgba(148, 190, 224, 0.384);
}

#resultado {
    display: inline-block;
    background-color: rgba(205, 232, 241, 0.76);
    color: rgb(60, 99, 131);
    height: 159px;
    width: 315px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(117, 170, 214, 0.377);
}

#resultado >h1 {
    font-weight: lighter;
    font-size: 24px;
    margin: 0px;
    margin-bottom: 20px;
}

#resultado > p {
    font-weight: bold;
    line-height: 7px;
}

#resultado span {
    font-weight: normal;
}